*{
    margin: 0px;
    padding: 0px;
    font-family: 'Figtree', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
.ctnheader {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(/assets/img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 720px;
    position: relative;
}
.ctnnav{
    position: sticky;
    top: 0;
}
.navctn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
}
.logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    color: #fff;
}
.logo span{
    padding-left: 10px;
    color: rgb(143, 167, 241);
}
.ctnul{
    display: flex;
    align-items: center;
}
.linkul{
    display: flex;
    color: #fff;
    padding: 5px 10px;
    font-size: 20px;
    margin-left: 10px;
    transition: 0.3s;
    position: relative;
}
.linkul::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color:  rgb(143, 167, 241);
    width: 100%;
    height: 2px;
    border-radius: 6px;
    transform: scaleX(0);
    transition: transform .5s;
}
.linkul:hover::after{
    transform: scaleX(1);
}
.ctncard{
    display: flex;
    height: 500px;
    width: 750px;
    margin: auto;
    margin-top: 70px;
    align-items: center;
    flex-direction: column;
}
.ctnimgcard{
    height: 350px;
    width: 350px;
    background: #000;
    border-radius: 100%;
    box-shadow: 1px 0px 69px -3px rgba(0,0,0,0.68);
    -webkit-box-shadow: 1px 0px 69px -3px rgba(0,0,0,0.68);
    -moz-box-shadow: 1px 0px 69px -3px rgba(0,0,0,0.68);
}
.ctnimgcard img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.ctntextcard{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 30px 30px;
    color: #fff;
    text-align: center;
    box-shadow: 1px 0px 69px -3px rgba(0,0,0,0.68);
    -webkit-box-shadow: 1px 0px 69px -3px rgba(0,0,0,0.68);
    -moz-box-shadow: 1px 0px 69px -3px rgba(0,0,0,0.68);
}
.ctntextcard h1{
    margin: 0;
    padding: 10px 0px 2px 0px;
}
.ctntextcard h2{
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    padding: 1px 0px;
}
.ctnscroll{
    display: flex;
    color: #fff;
    margin: 20px;
    margin-top: 40px;
    padding-right: 20px;
}
.scroll {
	width: 25px;
	height: 25px;
	position: relative;
	animation: down 1.5s infinite;
	-webkit-animation: down 1.5s infinite;
	&::before {
		content: '';
		position: absolute;
		top: -7px;
		left: 18px;
		width: 18px;
		height: 18px;
		border-left: 2px solid #ffffff;
  	    border-bottom: 2px solid #ffffff;
		transform: rotate(-45deg);
	}
}
@keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(7px);
	}
	40% {
		transform: translate(0);
	}
}
@-webkit-keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}

.ctn-aboutus{
    width: 100%;
    height: 720px;
    background-color: #000a23;
    color: #fff;
    position: relative;
    display: flex;
}

.ctn-card-aboutus{
    display: flex;
    height: 400px;
    width: 800px;
    margin: 150px auto;
    border: 1px solid #fff 0.2;
    box-shadow: 1px 0px 69px -3px rgba(0,0,0,0.68);
    -webkit-box-shadow: 1px 0px 69px -3px rgba(0,0,0,0.68);
    -moz-box-shadow: 1px 0px 69px -3px rgba(0,0,0,0.68);
}

.ctn-about-img{
    height: 400px;
    width: 400px;
    background: #000;
    box-shadow: 1px 0px 69px -3px rgba(0,0,0,0.68);
    -webkit-box-shadow: 1px 0px 69px -3px rgba(0,0,0,0.68);
    -moz-box-shadow: 1px 0px 69px -3px rgba(0,0,0,0.68);
}
.ctn-about-img img{
    object-fit: cover;
    height: 400px;
    width: 400px;
}

.ctn-about-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    height: 400px;
    width: 400px;
    text-align: center;
    padding: 10px;
    margin-left: 20px;
}

.sobre_mi{
    position: relative;
    text-align: left;
    
}
.sobre_mi::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -13px;
    background-color:rgb(143, 167, 241);
    width: 15%;
    height: 7px;
    border-radius: 6px;
}
.ctn-about-text p {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    font-weight: 200;
    position: relative;
}
.ctn-about-text p::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -13px;
    background-color:  rgb(143, 167, 241);
    width: 30%;
    height: 2px;
    border-radius: 6px;
}
.ctn-about-text h3{
    position: relative;
    text-align: left;
    color: rgb(143, 167, 241);
}
.ctn-about-text h3::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -7px;
    background-color:  rgb(143, 167, 241);
    width: 19%;
    height: 2px;
    border-radius: 6px;
}
.ctn-tbj{
    width: 100%;
    height: 720px;
    background-color: #02152b;
    color: #fff;
    position: relative;
    display: flex;
}

.veami{
    display: flex;
    position: relative;
}
.veami:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    background-color:  rgb(143, 167, 241);
    width: 30%;
    height: 2px;
    border-radius: 6px;
}
.tbjtext{
    display: flex;
    position: relative;
}
.tbjtext:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    background-color:  rgb(143, 167, 241);
    width:4%;
    height: 2px;
    border-radius: 6px;
}
.ctn-slider{
    width: 90%;
    max-width: 750px;
    /* height: 90%; */
    margin: 100px auto;
    overflow: hidden;
}

.slider{
    display: flex;
    width: 400%;
    height: 400px;
}

.slider--section{
    width: 100%;
}

.slider--img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sliderbtn{
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255,
    0.7) ;
    top: 50%;
    /* transform: translateY(-50%) ; */
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    color: #000;
}

.sliderbtn:hover{
    background-color: #fff;
}

.sliderbtn-right{
    right: 180px;
}

.sliderbtn-left{
    left: 180px;
}

.divskill{
    width: 100%;
    height: 720px;
    background-color: #021d34;
    color: #fff;
    position: relative;
    display: flex;
}

.ctnskills{
    width: 70%;
    height: 500px;
    margin: auto;
}
.tittleskill{
    font-size: 48px;
    margin: 4px;
    padding: 0px;
    position: relative;
}
.tittleskill::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    background-color:  rgb(143, 167, 241);
    width: 100%;
    height: 1px;
    border-radius: 6px;
}
.col h3 {
    font-size: 30px;
    padding: 20px;
    margin-left: 50px;
    position: relative;
}
.col h3::after{
    content: "";
    position: absolute;
    left: 20px;
    bottom: 14px;
    background-color:  rgb(143, 167, 241);
    width: 37%;
    height: 3px;
    border-radius: 6px;
}

.colskill{
    display: flex;
    justify-content: center;
}

.skill{
    display: flex;
    flex-direction: column;
    position: relative;
}
.col{
    width: 50%;
}

.skill > span{
    padding: 10px 0px;
    font-weight: 800;
}
.skill > span::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 45px;
    background-color:  rgb(143, 167, 241);
    width: 4%;
    height: 2px;
    border-radius: 6px;
}

.barra-skill{
    height: 8px;
    width: 80%;
    background-color: #131517;
    position: relative;
    margin-bottom: 30px;
}
.progreso{
    background-color: #1CB698;
    position: absolute;
    top: -4;
    left: 0;
    height: 8px;
}

.js-p{
    width: 30%;
}
.css-p{
    width: 65%;
}
.ph-p{
    width: 70%;
}
.pp-p{
    width: 65%;
}
.c-p{
    width: 15%;
}

.barra-skill span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #1CB698;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}

.cm-p{
    width: 50%;
}
.te-p{
    width: 70%;
}
.ct-p{
    width: 80%;
}
.dc-p{
    width: 90%;
}
.pm-p{
    width: 74%;
}

.contactdiv{
    width: 100%;
    height: 320px;
    background-color: #02253d;
    color: #fff;
    position: relative;
    display: flex;
}

.ctncontact{
    width: 550px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}
.ctncontact h1{
    text-align: center;
}

.redes{
    background-color: #021d34;
}
.redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
.redes a:hover{
    background-color: #1CB698;
}

.volerinicio a{
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.volerinicio a:hover{
    color: #000;
}

.volerinicio a svg{
    margin-top: 400px;
}