*{
    margin: 0px;
    padding: 0px;
    font-family: 'Figtree', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
.ctnheader {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(/assets/img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 720px;
    position: relative;
}
.ctnnav{
    position: sticky;
    top: 0;
}
.navctn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
}
.logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    color: #fff;
}
.logo span{
    padding-left: 10px;
    color: rgb(143, 167, 241);
}
.ctnul{
    display: flex;
    align-items: center;
}
.linkul{
    display: flex;
    color: #fff;
    padding: 5px 10px;
    font-size: 20px;
    margin-left: 10px;
    transition: 0.3s;
    position: relative;
}
.linkul::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color:  rgb(143, 167, 241);
    width: 100%;
    height: 2px;
    border-radius: 6px;
    transform: scaleX(0);
    transition: transform .5s;
}
.linkul:hover::after{
    transform: scaleX(1);
}
.ctncard{
    display: flex;
    height: 500px;
    width: 750px;
    margin: auto;
    margin-top: 70px;
    align-items: center;
    flex-direction: column;
}
.ctnimgcard{
    height: 350px;
    width: 350px;
    background: #000;
    border-radius: 100%;
    box-shadow: 1px 0px 69px -3px rgba(0,0,0,0.68);
    -webkit-box-shadow: 1px 0px 69px -3px rgba(0,0,0,0.68);
    -moz-box-shadow: 1px 0px 69px -3px rgba(0,0,0,0.68);
}
.ctnimgcard img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.ctntextcard{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 30px 30px;
    color: #fff;
    text-align: center;
    box-shadow: 1px 0px 69px -3px rgba(0,0,0,0.68);
    -webkit-box-shadow: 1px 0px 69px -3px rgba(0,0,0,0.68);
    -moz-box-shadow: 1px 0px 69px -3px rgba(0,0,0,0.68);
}
.ctntextcard h1{
    margin: 0;
    padding: 10px 0px 2px 0px;
}
.ctntextcard h2{
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    padding: 1px 0px;
}
.ctnscroll{
    display: flex;
    color: #fff;
    margin: 20px;
    margin-top: 40px;
    padding-right: 20px;
}
.scroll {
	width: 25px;
	height: 25px;
	position: relative;
	animation: down 1.5s infinite;
	-webkit-animation: down 1.5s infinite;
	&::before {
		content: '';
		position: absolute;
		top: -7px;
		left: 18px;
		width: 18px;
		height: 18px;
		border-left: 2px solid #ffffff;
  	    border-bottom: 2px solid #ffffff;
		transform: rotate(-45deg);
	}
}
@keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(7px);
	}
	40% {
		transform: translate(0);
	}
}
@-webkit-keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}